opencv-python~=4.9.0.80
aiohttp~=3.9.5
aiohttp_jinja2~=1.6
torch~=2.3.1
albumentations~=1.4.11
numpy~=1.26.4
torchmetrics~=1.4.0.post0
ultralytics~=8.2.59
PyYAML~=6.0.1
bcrypt~=4.2.0
aiortc~=1.9.0
av~=12.3.0
memory-profiler~=0.61.0
