<footer class="bg-gray-800 text-white text-center py-4 w-full">
    <div class="container mx-auto px-4">
        <div class="flex flex-col items-center">
            <div class="flex space-x-6 mb-4">
                <a href="#" class="bg-white">
                    <img src="images/dhl-logo.png" alt="Logo 1" class="h-20">
                </a>
                <a href="#" class="bg-white">
                    <img src="images/lll-logo.png" alt="Logo 2" class="h-20">
                </a>
                <a href="#" class="bg-white">
                    <img src="images/uni-logo.png" alt="Logo 3" class="h-20">
                </a>
            </div>
            <p>Made with <i class="fas fa-heart text-red-500"></i> in Leipzig, Germany</p>
            <p>&copy; 2024 Logistics Living Lab / Leipzig University - Logos and trademarks are the property of their
                respective owners.</p>
        </div>
    </div>
</footer>
