<header class="bg-gray-800 text-white py-4">
    <div class="container mx-auto flex items-center justify-between px-4">
        <!-- Logo -->
        <div class="flex-shrink-0 bg-white p-2">
            <img src="images/tri5g-logo.png" alt="Logo" class="h-28">
        </div>
        <!-- Navigation -->
        <nav class="hidden md:flex space-x-6">
            <a href="/" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow">
                Video Detection
            </a>
            <a href="/image-detection"
               class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow">
                Image Detection
            </a>
            <a href="/image-analyzer"
               class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow">
                Image Analyzer
            </a>
            <a href="/image-files"
               class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded shadow">
                Photo Files
            </a>
        </nav>
        <div>
        </div>
    </div>
</header>
